h4 {
    font-family: serif;
}

table {
    border-spacing: 0;
    width: 100%;
}

tr {
    text-align: center;
    background-color: #b69595;
    color: black;
}

td {
    padding: 5px;
}

th {
    padding: 10px;
}

table tbody tr:nth-child(odd) {
    background-color: #d9cfcf;
    color: black;
}