.form-inline input#search-text {
    position: absolute;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 14pt;
    float: left;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-inline .icon {
    position: absolute;
    margin-left: 17px;
    z-index: 1;
    color: #4f5b66fb;
}

.form-inline {
    width: 300px;
    white-space: nowrap;
    position: relative;
}

.search {
    z-index:1000000000;
    width: 300px;
    height: 100%;
    position: absolute;
    top: 50px;
    right: 3%;
    border: none;
    border-radius: 5px;
}
  
.search:hover ul{
    display: block;
}

.search ul{
    display: none;
    background-color: rgba(248, 248, 248, 0.856);
    list-style: none;
    /* 移除項目符號 */
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.search a {
    color: inherit;
    /* 移除超連結顏色 */
    display: block;
    /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    /* 移除超連結底線 */
}

.search a:hover {
    background-color: rgba(167, 167, 167, 0.929);
    color: white;
    border-radius: 5px;
}

