#city
{
     position:fixed;
     top:140px;right:250px;
     font-size:20px;font-family:DFKai-sb;
     color:rgb(102, 182, 213);
}
img
{
     position:fixed;
     top:90px;left:50%;
     margin-left:-220px;
     width:350px;
}
ul
{
     list-style-type:circle;
}
a
{
     color:#1E90FF;text-decoration:none;
}