table {
    width: 80%;
    border-collapse: collapse;
}

table tr {
    border-bottom: solid 2px #E0E0E0;
}

table tr:last-child {
    border-bottom: none;
}

table th {
    position: relative;
    width: 30%;
    background-color: #917676;
    color: #E0E0E0;
    text-align: center;
    padding: 10px 0;
}

table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
    border-left: 10px solid #917676;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

table td {
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #d9cfcf;
    padding: 10px 10px;
}