*{
    background-image: url("taiwan/Taiwan.png");
    background-repeat: no-repeat;
    background-size:25pc;
    background-position:11cm 0.5cm;
    opacity: 80%;
}
#login{
    width:400px;
    height: 300px;
    border: 2px rgb(155, 155, 223) solid;
    position:absolute;
    top: 25%;
    left: 35%;
    background-color: rgb(155, 155, 223);
    opacity: 90%;
    border-radius: 20%;
}
#content{
    text-align: center;
    padding: 80px;
    opacity: 100%;
    color: black;
}